<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colores</title>

    <!-- Agrega las bibliotecas de DataTables.net -->
    <!-- Cambia la referencia de jQuery a una versi贸n local -->
    <script type="text/javascript" charset="utf8" src="/public/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <!-- Agrega estilos personalizados si es necesario -->
    <% cssPaths.forEach(cssPath => { %>
        <link rel="stylesheet" type="text/css" href="<%= cssPath %>">
    <% }); %>
</head>
<body>

    <h1>Lista de Colores</h1>

    <table id="coloresTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Color</th>
                <th>Estado</th>
                <th>Descripci贸n</th>
                <th>Fecha de Creaci贸n</th>
                <th>Fecha de Actualizaci贸n</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <!-- Cambia 'script href' a 'script src' para incluir el script de colores.js -->
    <script type="text/javascript" src="/js/colores.js"></script>

</body>
</html>
